* {
	box-sizing: border-box;
}

body {
	display: flex;
	font-family: 'Open sans', sans-serif;
	height: 100%;
	margin: 0;
}

/*01. Left Sidebar Formatting*/

.left-sidebar {
	background-color: #354052;
	color: #A6B1C3;
	height: 100%;
	width: 15%;
}

.user-profile {
	align-items: center;
	border-bottom: 2px solid black;
	display: flex;
	flex-direction: column;
	margin-bottom: 0px;
	padding-top: 30px;
}

.profile-pic {
	background-image: url('images/george.jpg');
	background-position: no-repeat;
	background-size: cover;
	border-radius: 100%;
	height: 120px;
	width: 120px;
}

.user-name {
	margin-bottom: 20px;
}

.arrow-down {
	height: 10px;
	margin-left: 5px;
}

.side-main,
.side-admin,
.side-category {
	border-bottom: 2px solid black;
	display: flex;
	flex-direction: column;
	padding-bottom: 15px;
	padding-right: 35px;
	padding-left: 25px;
	text-transform: uppercase;
}

.side-nav-title {
	font-size: 12px;
	margin: 10px 0px;
}

h5 {
	color: #525F72;
	text-transform: none;
}

ul {
	font-size: 14px;
	list-style: none;
	margin-left: 2px;
}

li {
	line-height: 250%;
	padding-bottom: 5px;
}
 .nav-icons {
 	margin-right: 8px;
 	width: 20px;
 }

 /*02. Top Search Formatting*/

 .right-section {
 	width: 80%;
 }

 .top-search-area {
 	border: 2px solid red;
 	display: flex;
 	flex-direction: row;
 	height: 75px;
 	width: 100%;
 }

 .search-icon {
 	height: 30px;
 	margin-top: 15px;
 	width: 30px;
 }

 .search-area-icon-0 {
 	background-image: url('images/interface.svg');
 	background-size: 30px 30px;
 	background-position: center;
 	background-repeat: no-repeat;
 	border: 2px solid red;
 	padding: 25px;
 }

.search-area-icon-2 {
	background-image: url('images/social.svg');
	background-size: 30px 30px;
 	background-position: center;
 	background-repeat: no-repeat;
 	border: 2px solid red;
 	padding: 25px;
}

.search-area-icon-3 {
	background-image: url('images/time.svg');
	background-size: 30px 30px;
 	background-position: center;
 	background-repeat: no-repeat;
 	border: 2px solid red;
 	padding: 25px;
}

.search-area-icon-4 {
	background-image: url('images/squares.svg');
	background-size: 30px 30px;
 	background-position: center;
 	background-repeat: no-repeat;
 	border: 2px solid red;
 	padding: 25px;
}

.search-input {
	border: none;
	height: 50px;
	margin-top: 15px;
	width: 60vw;
}

/*03. Title Section Formatting*/

.title-box {
	align-items: center;
	border: 2px solid red;
	display: flex;
	height: 180px;
	justify-content: space-between;
	width: 100%;
}

.position-title-box {
	margin-left: 35px;
}

/*04. Tab Links Formatting*/

.tab-button-list {
	border: 2px solid red;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-left: 35px;
	width: 80%;
}

.tab-button {
	color: #9BA2AD;
}

/*05. Graph Section Formatting*/

.graph-section {
	background-color: #EDF2F6;
	border: 2px solid red;
	display: flex;
	height: 300px;
	width: 100%;
}

.circle-graphs {
	border: 2px solid red;
	height: 300px;
	width: 50%;
}

.graph-box {
	border: 2px solid red;
	height: 300px;
	width: 50%;
}

/*06. Job Description Section Formatting*/

.bottom-section {
	background-color: #EDF2F6;
	border: 2px solid red;
	display: flex;
	width: 100%;
}

/*07. Job Description Info Formatting*/

.full-description {
	background-color: #fff;
	border: 2px solid red;
}

.job-description {
	align-items: center;
	background-color: #6F7E95;
	border: 2px solid red;
	color: #fff;
	display: flex;
	justify-content: flex-start;
}

.job-description-title {
	margin-left: 15px;
}

.description-info {
	align-items: center;
	border-bottom: 1px solid red;
	display: flex;
}

.description-title {
	margin-left: 15px;
	width: 150px;
}

.description-info-text {
	margin-left: 50px;
}

/*08. Sharing Job Section Formatting*/

.share-job-section {
	border: 2px solid red;
}

.facebook,
.twitter,
.linkedin {
	border: 2px solid red;
	color: #fff;
	text-align: center;
}

.facebook {
	background-color: #3B5998;
}

.twitter {
	background-color: #1dcaff;
}

.linkedin {
	background-color: #007bb6;
}

.job-links-section {
	border: 2px solid red;
}

.sharing-titles {
	border: 2px solid red;
}

.sharing-descriptions {
	border: 2px solid red;
}

.share-job-box {
	border: 2px solid red;
}

















